<h2>Summary</h2>

<table class="table">
  <thead>
    <tr>
      <th>Pickup address</th>
      <th>Drop off address</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
<%= for tuple <- @tuples do %>
    <tr>
      <td><%= tuple.username %></td>
      <td><%= tuple %></td>
      <td><%= tuple[1] %></td>
    </tr>
<% end %>
  </tbody>
</table>